# Ignorar arquivos de dados
data/

# Ignorar arquivos de cache do Python
__pycache__/

# Ignorar checkpoints de notebooks
notebooks/.ipynb_checkpoints/

# Ignorar modelos treinados grandes
models/

# Arquivos do sistema
.DS_Store
